.cart {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: black;

  &__status {
    display: flex;
    justify-content: space-between;

    &-item {
      &:first-child {
        margin-right: 10px;
      }
    }
  }

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:hover {
    & .cart__img {
      background-image: url(../Img/cart.svg_hvr.png);
    }
  }

  &__img {
    background-image: url(../Img/cart.svg.png);
    background-repeat: no-repeat;
    width: 21px;
    height: 18px;
    margin: 0 25px 0 30px;
  }

  &_disabled {
    cursor: initial;

    &:hover {
      opacity: 1;
      color: black;

      & .cart__img {
        background-image: url(../Img/cart.svg.png);
      }
    }
  }
}

@media (max-width: 425px) {
  .cart {
    display: none;
    &_show {
      display: flex;
    }
    &__img {
      margin: 0 25px 0 0;
    }
  }
}
