@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic,cyrillic-ext");

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: 1150px;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
  height: 52px;
  background-color: white;
  border: 1px solid black;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  color: #444444;
  outline: none;
}

.button:hover {
  color: white;
  background-color: #464242;
}
.button:disabled {
  background-color: grey;
  opacity: 0.3;
  cursor: not-allowed;
}
.button:disabled:hover {
  background-color: grey;
  opacity: 0.3;
  color: #464242;
}
